<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Sigma Project</title>
</head>
<body>
    <header>
        <h1>About</h1>
    </header>
    <main>
        <p>BUBLIKS <a href="/hello?name=Bubliks">ŠEIT</a></p>

        <form action="" method="get">
            <fieldset>
                <legend>Enter your information:</legend>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required placeholder="sussy name">
                <input type="submit" value="Submit">
            </fieldset>
        </form>
        <p><a href="/index">Back to index</a></p>
    </main>    
</body>
</html>