<!DOCTYPE html>
<html>
<head>
    <title>Error Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 50px;
        }
        h1 {
            color: #FF0000;
        }
        p {
            color: #333333;
        }

        .goBack {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <h1>Oops, You broke Something!</h1>
    <p>IT IS ONLY YOUR FAULT</p>
    <p>Additional information: Why u break my page? JUST WHYYY?!?!?!!?</p>


    <p class="goBack">Go back to <a href="/">Home</a></p>
</body>
</html>
